*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Sem2Lab3/NonPattern/.idea/gradle.xml
/Sem2Lab3/NonPattern/.idea
/Sem2Lab3/Pattern/.idea
